@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mid-gray: #878787;
  --color-silver: #c3c3c3;
  --color-orange-red: #eb6535;
  --color-dark-blue: #222831;
  --color-dark-gray: #222831;
  --color-medium-slate-blue: #7c83fd;
  --color-orange: #fcb500;
  --color-gray: #7a7a7a;
  --color-black: #0a0a0a;
  --color-dark: #0a0a0a;
  --color-charcoal: #2e3847;
  --color-lime-green: #bced0a;
  --color-dark-lime-green: #32cd32;
  --color-white: #ffffff;
}

body{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-white);
}

/**
* custom__cursor 
*/
.cursor_dot{
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  mix-blend-mode: difference;
}

.cursor_outline{
  width: 60px;
  height: 60px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.cursor_dot, .cursor_outline{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1001;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/**
* gradient line
*/
.gradient_line{
  flex-grow: 0;
  flex-shrink: 0;
  animation: gradient 12s linear infinite;
}

@keyframes gradient {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

/**
* navbar
*/
.nav_middle{
  transition: width .45s cubic-bezier(.6, .6, 0, 1);
}

/**
* responsive
*/
@media(max-width: 991px) {
  .cursor-remove {
    transform: scale(0);
  }
}